# dist folder
dist/

# ide
.vscode
.idea
.ai

# kiro
.kirograph/
kirograph-graph.html
.kiro

# claude
.claude

# map
*.js.map

# dependencies
node_modules/
package-lock.json

# qdrant
.qdrant-initialized

#test
coverage